@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.main-container {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-grow: 1; 
}

.header {
  min-width: 100vh;
  width: 100%;
  height: 700px;
  background: linear-gradient(to right top, #006EDC, rgba(42, 172, 234, 1) 75%);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 10; 
}

.footer {
    background-color: #0d1b29;
    padding: 20px;
    min-width: 100vh;
    width: 98.4%;
    z-index: 10; 
    margin-left: -10px;
    margin-bottom: -10px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    text-align: center;
}
  
.footer p {
    font-size: 14px; 
    color: rgb(255, 255, 255)
}

.top-nav {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-left-nav {
    display: flex;
    flex-direction: row;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    background: none;
    border: none; 
    padding: 0; 
    cursor: pointer;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; /*inherit font*/
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dropdown-toggle:hover {
  color: #e6f3fa;
}

.arrow {
  margin-left: 5px;
  font-size: 12px;
  transition: transform 0.3s ease;
}

.arrow.flipped {
  transform: rotate(180deg);
}

.resources-dropdown-menu {
  position: absolute;
  top: calc(100%);
  right: 0;
  background: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

.resources-dropdown-menu a {
  display: block;
  padding: 10px 15px;
  margin: 0;
  font-size: 14px;
  color: #006EDC;
  transition: background-color 0.3s ease;

}

.resources-dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.text-container {
  text-align: left;
  color: white;
}

.page-title {
  font-size: 39px;
  font-weight: bold;
  margin-left: 120px;
  margin-bottom: 20px;
  padding: 120px 40px 0;
}

.title-description {
  font-size: 22px;
  margin-bottom: 30px;
  margin-left: 120px;
  padding: 0px 40px 0;
}

.title-button-wrapper {
    padding: 0px 40px 0;
}

.title-button {
  background: white;
  color: #006EDC;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-left: 120px;
}

.title-button:hover {
  transform: translateY(-2px);
}
  
.main-image {
    width: 800px;
    height: 450px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px 0 0 10px;
    margin-top: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-image {
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}


.main-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 700px;
  padding: 40px;
  
}

.clouddome-impact {
  margin-bottom: 110px;
  width: 60%;
}

.clouddome-impact p {
  font-size: 16px;
  line-height: 1.6;
}


.process-steps-section {
  width: 60%; 
  margin-bottom: 40px; 

}

.process-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.step-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


.step-connector {
  flex-grow: 1;
  height: 2px;
  background-color: #ccc;
  margin: 0 10px;
}


.step-connector.active {
  background-color: #006EDC; 
}

.step-number.active {
  background-color: #006EDC;
  color: white;
}

.step-label {
  font-size: 14px;
  color: #333;
}

.aws-account-section {
    width: 60%; 
    margin-bottom: 40px; 
    text-align: center; 
    border: 2px solid #0d1b29; 
    padding: 20px; 
    border-radius: 5px;
    position: relative;
    overflow: visible; 
  }
  
  .aws-account-title {
    font-size: 24px; 
    font-weight: bold;
    color: #333; 
    margin-bottom: 20px; 
  }
  
  .aws-account-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .aws-account-input {
    width: 300px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px; 
    font-family: 'Open Sans', sans-serif; 
  }
  
  .aws-account-input:focus {
    outline: none;
    border-color: #006EDC; 
    box-shadow: 0 0 5px rgba(0, 110, 220, 0.3); 
  }
  
  .aws-account-submit {
    background-color: #006EDC; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
  }
  
  .aws-account-submit:hover {
    background-color: #005BB5; 
  }

 
.error-message {
    color: #d32f2f; 
    font-size: 14px;
    margin-top: 2px;
    font-family: 'Open Sans', sans-serif;
  }

.aws-input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  margin-bottom: 20px; 
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

.privacy-message {
  font-size: 14px;
  color: #333;
  font-weight: bold; 
  text-align: center;
  margin: 10px 0 40px 0;
  font-family: 'Open Sans', sans-serif;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.help-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.question-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #006EDC;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.question-mark:hover {
  background-color: #005BB5;
}

.tooltip {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 500px; 
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.help-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip h3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.tooltip p {
  margin-bottom: 10px;
}

.tooltip code {
  background-color: #555;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
}

@media (max-width: 600px) {
  .tooltip {
    width: 250px;
    right: -115px; 
  }
}

.progress-section {
  width: 60%;
  margin-bottom: 20px;
  text-align: center;
}

.progress-message {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #006EDC;
  transition: width 0.5s ease-in-out; 
}